<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4"><input type="text" [(ngModel)]="listFilter" /></div>
            <div class="col-md-2 pull-right">
               <a [routerLink]="['/emails', 0, 'edit']" class="btn btn-primary">Add Email</a>
            </div>

        </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6"><h3>Filtered by: {{listFilter}} </h3> </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table" *ngIf="emails && emails.length">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Campus</th>
                        <th>Unit Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let email of emails | emailFilter:listFilter">
                        <td>
                            <a [routerLink]="[email.tblIdx]" [queryParams]="{filterBy: listFilter }"> {{email.EmailAddress}}</a>
                        </td>
                        <td>{{ email.Campus }}</td>
                        <td>{{ email.Unit }}</td>
                       <td>
                            <a [routerLink]="[email.tblIdx, 'edit']" class="btn btn-primary"> Edit </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
