<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #userForm="ngForm">
        <fieldset>
            <legend>Basic User Information</legend>
            <div class="form-group" 
                    [ngClass]="{'has-error': (userNameVar.touched || 
                                              userNameVar.dirty || user.idUser !== 0) && 
                                              !userNameVar.valid }">
                <label class="col-md-2 control-label" 
                        for="userNameId">User Id</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="userNameId" 
                            type="text" 
                            placeholder="Cwid (required)"
                            required
                            minlength="3"
                            [(ngModel)] = user.userCwid
                            name="userName"
                            #userNameVar="ngModel" />
                    <span class="help-block" *ngIf="(userNameVar.touched ||
                                                     userNameVar.dirty || user.idUser !== 0) &&
                                                     userNameVar.errors">
                        <span *ngIf="userNameVar.errors.required">
                            User CWID is required.
                        </span>
                        <span *ngIf="userNameVar.errors.minlength">
                            User CWID must be at least three characters.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (userCodeVar.touched || 
                                              userCodeVar.dirty || user.idUser !== 0) && 
                                              !userCodeVar.valid }">
                <label class="col-md-2 control-label" for="userCodeId">First Name</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="userCodeId" 
                            type="text" 
                            placeholder="First Name (required)"
                            required
                            [(ngModel)] = user.firstName
                            name="userCode"
                            #userCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(userCodeVar.touched ||
                                                     userCodeVar.dirty || user.idUser !== 0) &&
                                                     userCodeVar.errors">
                        <span *ngIf="userCodeVar.errors.required">
                            First name is required.
                        </span>
                    </span>
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (userCodeVar1.touched || 
                                              userCodeVar1.dirty || user.idUser !== 0) && 
                                              !userCodeVar1.valid }">
                <label class="col-md-2 control-label" for="userCodeId1">Last Name</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="userCodeId1" 
                            type="text" 
                            placeholder="Last Name (required)"
                            required
                            [(ngModel)] = user.lastName
                            name="userCode1"
                            #userCodeVar1="ngModel" />
                    <span class="help-block" *ngIf="(userCodeVar1.touched ||
                                                     userCodeVar1.dirty || user.idUser !== 0) &&
                                                     userCodeVar1.errors">
                        <span *ngIf="userCodeVar1.errors.required">
                            Last name is required.
                        </span>
                    </span>
                </div>
            </div>

  <div class="form-group" [ngClass]="{'has-error': (unitCodeVar.touched || 
                                              unitCodeVar.dirty || user.idUser !== 0) && 
                                              !unitCodeVar.valid }">
                <label class="col-md-2 control-label" for="unitCodeId">User Campus</label>

                <div class="col-md-8">
                    <select class="form-control" id="unitCodeId" name="unitCodeId" placeholder="Campus (required)" required [(ngModel)]=user.preferredCampus
                        (ngModelChange)="campusChanged($event)" #unitCodeVar="ngModel">
                        <option *ngFor="let c of ccs" [value]="c">{{c}}</option>
                     </select>
                    <span class="help-block" *ngIf="(unitCodeVar.touched ||
                                                     unitCodeVar.dirty || user.idUnit !== 0) &&
                                                     unitCodeVar.errors">
                <span *ngIf="unitCodeVar.errors.required">
                            Campus is required.
                        </span>
                    </span>
                </div>
            </div>
                <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">Type</label>

                <div class="col-md-8">
                    <select class="form-control" id="descriptionId" name="descriptionId" placeholder="Select a Unit Type" required [(ngModel)]="user.isAdmin"
                        (ngModelChange)="typeChanged($event)" #tabletUnitsVar e>
                <option *ngFor="let t of types" [value]="t">{{t}}</option>
                </select>
                    <span class="help-block" *ngIf="(tabletUnitsVar.touched ||
                                                     tabletUnitsVar.dirty || user.idUser !== 0) &&
                                                     tabletUnitsVar.errors">

                    <span *ngIf="tabletUnitsVar.errors.required">
                            Usere type is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>