<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>

<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        
        <form class="form-horizontal" novalidate  autocomplete="off" 
              #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
              
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': (userNameVar.touched || userNameVar.dirty) && !userNameVar.valid }">
                    
                    <label class="col-md-2 control-label" for="userNameId">User Name</label>
                    
                    <div class="col-md-8">
                    
                        <input class="form-control" id="userNameId" type="text" name="userName"
                                required  placeholder="User Name (required)"  
                                [(ngModel)] = "userName"  #userNameVar="ngModel" />
                    
                        <span class="help-block" *ngIf="(userNameVar.touched || userNameVar.dirty) && userNameVar.errors">
                            <span *ngIf="userNameVar.errors.required">
                                User name is required.
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group" [ngClass]="{'has-error': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }">
                    
                    <label class="col-md-2 control-label" for="passwordId">Password</label>

                    <div class="col-md-8">
                        <input class="form-control" id="passwordId" name="password" type="password" 
                                required placeholder="Password (required)"
                                [(ngModel)] = "password" #passwordVar="ngModel" />

                        <span class="help-block" *ngIf="passwordVar.errors && (passwordVar.touched || passwordVar.dirty)"  >
                            <span *ngIf="passwordVar.errors.required">
                                Password is required.
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px"
                                    [disabled]="!loginForm.valid">
                                Log In
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default" [routerLink]="['/welcome']">Cancel</a>
                        </span>
                     </div>
                </div>
            </fieldset>
        </form>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

    </div>

</div>
